<ion-header>
  <ion-navbar>
    <ion-title>HEAT Damage Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="heat">
	<ion-grid>
		<ion-row>
			<img src="images/heat.png" class="img-responsive" alt="HEAT round">
		</ion-row>
	</ion-grid>
	<ion-list>
		<ion-item>
			<ion-label floating>Weapon AP</ion-label>
			<ion-input type="tel" name="ap"
			[(ngModel)]="ap"
			(input)="inputChanged()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Target Armor</ion-label>
			<ion-input type="tel" name="ar"
			[(ngModel)]="ar"
			(input)="inputChanged()"></ion-input>
		</ion-item>
	</ion-list>
	<ion-grid>
		<ion-row>
			<button *ngIf="d<10">Damage: {{d}}</button>
			<button *ngIf="d>=10" danger>Damage: {{d}}</button>
		</ion-row>		
	</ion-grid>	
</ion-content>
